*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.cuerpo{
    background: #f1f5f9;
}
#check{
    display: none;
}


.nav{
    background: #f8f8ff;
    width: 95%;
    float: right;
    transition: 0.5s;
    /*color del vorde inferior antes: #e0dddd */
    border-bottom: 1px solid #e0dddd;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo {
    margin-left: 20px;
    font-weight: bold;
}

.nav .logo img{
    width: 30px;
    height: 30px;
}


.nav ul {
    margin: 20px;
}

/*__________Icono Superior____________*/
.nav ul .salir{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav ul .salir:hover{
    background: rgb(172, 169, 169);
}

.nav ul .salir a{
    color: #fff;
}
/*__________________menu salir___________________*/
.nav .menu-salir{
    /*link tutorial: https://www.youtube.com/watch?v=04u09KBBjfM*/
    position: absolute;
    z-index: 10;/*para sobreponer*/
    width: 15%;
    left: 84%;
	top:60px;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
     transition: 0.2s;
    opacity: 0;
}
.nav .menu-salir .info-user{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav .menu-salir .info-user .logo-user{
    background: #ccc;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav .menu-salir .info-user .datos-usuario {
    width: 100%;
}
.nav .menu-salir .info-user .datos-usuario .nombre-user{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .menu-salir .info-user .datos-usuario .correo-user{
    font-size: 13px;
    color: rgb(172, 169, 169);
    text-align: center;
}

.nav .menu-salir ul{
    font-size: 14px;
    padding: 0px;
}

.nav .menu-salir.active{
    visibility: visible;
    opacity: 1;
}

.nav .menu-salir ul li{
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px 0px;
    color: #ccc;
    cursor: pointer;
} 

.nav .menu-salir ul li i{
    margin-right: 10px;
   
}
.nav .menu-salir ul li a{
    color: rgb(43, 39, 39);
    text-decoration: none;
}

.nav .menu-salir ul li a:hover{
    color: rgb(172, 169, 169);
}
.nav .menu-salir ul li:hover{
    color: rgb(172, 169, 169);
}
/*___________________slider_________________________*/
.sidebar{
    background-color: rgb(71, 71, 241);
    color: #fff;
    width: 5%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    position:fixed; 
    top:0;
    z-index: 100;
    /*overflow: hidden;*/
}

.sidebar .check1{
    /*background: salmon;*/
    margin: 20px;
    color: #fff;

}

/*_________IMG Encabezado INICIO________________*/
.sidebar .slider-encabesado{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 45px;
    font-size: 20px;
    width: 52.5px;
    height: 30px;
    display: none;
}

#check:checked ~ .sidebar .slider-encabesado{
    display: inline;
    
}
/*_________IMG Encabezado FIN________________*/


.sidebar a{
    /*background-color: azure;*/
    display: block;
    border-bottom: 0.05rem solid #130f24;
    padding: 20px 20px;
    color: #fff;
    cursor: pointer;
}

.sidebar a:hover{
    background: rgb(98, 98, 236);
    color: #fff;
    border-radius: 20px;
    /*border-bottom-left-radius: 20px;*/
}

#sidebar_btn:hover{
    background: #5b35f1;
    cursor: pointer;
}
.sidebar a span{
    transition: 5s;
}
.sidebar a span, .check1 span{
    display: none;
}

/*____________Tooltip INICIO_______________*/
.slider-opcion .texto-emergente{
    background: rgb(71, 71, 241);
    position: absolute;
    padding: 5px 20px;
    border-radius: 15px;
    display: inline;
    left: 105%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
/*
.slider-opcion .texto-emergente::before{
    background: #4b2dd1;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6%;
    top: 26%;
    transform: translateX(-50%) rotate(45deg);
}*/

.slider-opcion:hover .texto-emergente{
    opacity: 1;
    visibility: visible;
}

/*____________Tooltip FIN_______________*/


.content{
    /* background: #fff;  */
    width: 95%;
    position: relative;
    float: right;
    margin-left: 15%;
    transition: 0.5s;
}


#check:checked ~ .sidebar{
    width: 15%;
    overflow: hidden;
}

#check:checked ~ .content{
    width: 85%;
}

#check:checked ~ .nav{
    width: 85%;
    
}

#check:checked ~ .sidebar a span{  
    display: inline;
    margin-left: 10px;
    position: absolute;
}

/* ____________________________________ */

.contendor-info{
    min-height: 80vh;
    width: 100%;
    /* background-attachment: fixed;
  background-position: center center; */
    background-size: cover;
    background-image: url(../imagenes/evaluacion.jpg);
}

.contendor-info_2{
    min-height: 80vh;
    width: 100%;
    /* background-attachment: fixed;
  background-position: center center; */
    background-size: cover;
    background-image: url(../imagenes/reporte.jpg);
}

.caja-texto{
    width: 60%;
    padding: 20px 0px;
    color: #fff;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* para la segunda caja de texto  */
.contendor-info_2 .caja-texto{ 
    top: 12%;
}
.caja-texto h1{
    font-size: 52px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.caja-texto p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.1em;
}


.nav-abaut-info{
    background: rgb(250, 249, 249);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(68, 67, 67);
    border: 0.5px solid #ccc;
    font-size: 17px;
    /* font-family: Arial, Helvetica, sans-serif; */

    background: rgb(241,245,249);
background: linear-gradient(0deg, rgba(241,245,249,1) 26%, rgba(234,234,234,1) 98%);
}
.about-evaluacion, .about-reporte{
    /* background: chartreuse; */
    padding: 20px 30px;

}

.contenido-abput-evaluacion{
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-evaluacion-info {
    width: 40%;
}

.about-evaluacion-img{
    width: 40%;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.about-evaluacion-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.about-evaluacion-info .titulo{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(68, 67, 67);
    padding-top: 30px;
}

.about-evaluacion-info .about-info{
    display: flex;
    flex-direction: column;
    /* font-style: italic; */
    color: rgb(117, 116, 116);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    padding-bottom: 30px;
}

.about-evaluacion-info .about-info .info-1{
    margin: 10px auto;
}

/* segundo info */
.contenido-ejemplo-preguntas{
    background: #f1f5f9;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.contenido-ejemplo-preguntas .titulo{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(68, 67, 67);;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.contenido-ejemplo-preguntas .info{
    width: 50%;
    text-align: center;
    /* font-style: italic; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 20px;
}

.ejemplo-preguntas{
    /* background: #5b35f1; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ejemplo-preguntas .tema-1{
    width: 16%;
    text-align: center;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    color: rgb(88, 85, 85);
    
}

.ejemplo-preguntas .tema-1 .titulo-imagen{
    border-bottom: 2px solid #5b35f1;
    padding-top: 15px;
    
}

#boton-ver-pregunta{
    width: 150px;
    margin: 10px auto;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.25); */
    border: 1px solid #ccc;
    cursor: pointer;
}

.imagenes-temas{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: black 0.1em 0.1em 0.2em;
}


.ejemplo-preguntas-imagen{
    width: 90%;
    margin-bottom: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.ejemplo-preguntas-imagen .imagen-preguntas img{
    width: 100%;
    height: 110%;
    border-radius: 5px;
}

.ver-preguntas:hover,
.ver-preguntas.active{
	color: #5b35f1;
    font-weight: bold;
    border: 1px solid #5b35f1;
}   

.about-repoter-info{
    transition: all 0.2s ease;
}

.about-repoter-info:hover,
.about-repoter-info.active{
	/* background: #e3dff7; */
	color: #5b35f1;
    cursor: pointer;
    border-bottom: 3px solid #5b35f1;
    transition: all 0.2s ease;
}

/* ______________________________________ */
/* reporte */
.contenido-about-reporte{
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid #ccc;
}

.contenido-about-reporte .titulo{
    font-size: 35px;
    font-weight: bold;
    padding: 10px 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(68, 67, 67);
    padding-top: 30px;
}

.contenido-about-reporte .info{
    width: 85%;
    color: rgb(71, 70, 70);
    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
}

.about-nivel-integracion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f1f5f9;
    margin: 30px;
}

.about-nivel-integracion .informacion_1, .about-nivel-integracion .informacion_2{
    width: 40%;
    margin: 20px auto;
}

.about-nivel-integracion .informacion_1 .informacion_1-titulo{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(68, 67, 67);
}

.about-nivel-integracion .informacion_1 .info{
    color: rgb(71, 70, 70);
    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    width: 100%;
}

.about-nivel-integracion .informacion_2{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 10px;
    background: #fff;
}

.about-nivel-integracion .informacion_2 img{
    width: 100%;
    height: 400px;
    /* border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */

}

.informacion-aspectos-evaluados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}


.about-aspectos-evaluados .titulo{
    font-size: 35px;
    font-weight: bold;
    padding: 10px 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(68, 67, 67);
    padding-top: 10px;
}

.about-aspectos-evaluados .info{
    width: 85%;
    color: rgb(71, 70, 70);
    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    text-align: center;
}

.informacion-integracion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.informacion-integracion .aspectos{
    width: 40%;
}

.informacion-integracion .aspectos .aspecto{
    width: 90%;
    padding: 20px 5px;
    border: 1px solid #000;
    font-size: 18x;
    margin: 10px 0;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.informacion-integracion .aspectos .aspecto-info{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion-integracion .aspectos .aspecto-info .contenido-aspecto{
    padding: 15px;
    background: #f1f5f9;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.informacion-integracion .aspectos .aspecto.active:before{
    /* https://www.it-swarm-es.com/es/css/bocadillo-de-dialogo-con-flecha/1053497049/ */
    /* content: ''; */
    /* border: 15px solid #ccc;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: calc(50% - 50px); */

    content: '';
    position: absolute;
    /* top: -webkit-calc(100% - 10px); may require prefix for old browser support */
    /* top: calc(100% - 10px); i.e. half the heightks */
    /* left: 20px; */
    height: 20px;
    width: 20px;
    background: #fff;
    transform: rotate(45deg);
    /* border-bottom:inherit;
    border-right:inherit; */
    border-top:inherit;
    border-right:inherit;
    box-shadow:inherit;
    left: calc(50% - 58.5px);
}
.informacion-integracion .aspectos .aspecto.active,
.informacion-integracion .aspectos .aspecto:hover{
    border: 2px solid #5b35f1;
}

.informacion-integracion .aspectos-img{
    width: 40%;
    height: 500px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.info-aspecto{
    width: 100%;
    height: 100%;
}
.info-aspecto-1{
    background-size: cover;
    background-image: url(../imagenes/temas_integracion.png);
}

.info-aspecto-2 img{
    width: 100%;
}


.info-aspecto-3 img{
    width: 100%;
}

/* para las imagenes de las graficas */
/* _________________________________________ */
.garficas_temas{
    display: flex;
   align-items: center;
   justify-content: center;
}
.garficas_temas img{
    width: 50%;
    height: 50%;
}
.grafica-dim img{
    width: 100%;
}
/* _________________________________________ */

/*________ scroll bar INICIO __________*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 169, 169); 
    border-radius: 10px;
  }
 /*________ scroll bar FIN __________*/


