.modal-info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
}


#btn-modal-info:checked ~ .modal-info{
    visibility: visible;
    opacity: 1;
}
.cotendor-modal-info{
    width: 500px;
    margin: auto;
    background: #fff;
    transition: all 500ms ease;
    position: relative;
    /*transform: translateY(-30%);*/
    border-radius: 5px;
}

.cotendor-modal-info .titulo-modal-info{
    background-color: rgb(71, 71, 241);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cotendor-modal-info .titulo-modal-info span{
    margin-left: 10px;
}
.cotendor-modal-info .titulo-modal-info label{
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

#btn-modal-info{
    display: none;
}

.cotendor-modal-info .info-modal-info{
    width: 100%; 
}

.cotendor-modal-info .info-modal-info .modal-retroalimentacion{
    width: 95%;
    /* height: 150px; */
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cotendor-modal-info .info-modal-info .modal-retroalimentacion .titulo{
    background: rgb(118, 118, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
}

.cotendor-modal-info .info-modal-info .modal-retroalimentacion .info-contenido{
    overflow: auto;
    height: 75%;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.info-contenido span{
    margin: 10px;
}

.cotendor-modal-info .info-modal-info .modal-inidacadores-evaluados{
    width: 95%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cotendor-modal-info .info-modal-info .modal-inidacadores-evaluados .titulo{
    background: rgb(118, 118, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 15%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabla-indicadores{
    height: 175px;
    overflow: auto;
}
.tabla-indicadores table{
    background: #fff;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
    font-size: 13px;
}

.tabla-indicadores th,.tabla-indicadores td{
	padding: 5px;
}

.tabla-indicadores thead{
	border-bottom: solid 2px #0F362D;
	
}

.tabla-indicadores tr:nth-child(even){
	background-color: #ddd;
    background: #f1f5f9;
    border-bottom: 0.3px solid #ccc;
    border-top:  0.3px solid #ccc;
}

.tabla-indicadores tr:hover td{
	background-color: #369681;
    background: rgb(118, 118, 241);
	color: white;
    cursor: pointer;
}